# ===============================
# Python
# ===============================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================

.venv/
venv/
env/

# ===============================
# SQLite
# ===============================

database/*.db
*.sqlite3

# ===============================
# VS Code
# ===============================

.vscode/

# ===============================
# JetBrains
# ===============================

.idea/

# ===============================
# Pytest
# ===============================

.pytest_cache/

# ===============================
# Logs
# ===============================

*.log

# ===============================
# PDFs générés
# ===============================

facture_*.pdf

# ===============================
# Windows
# ===============================

Thumbs.db
Desktop.ini

# ===============================
# macOS
# ===============================

.DS_Store